.searchbar{
    border-radius: 20pc;
    margin: 50px;
}
.h2header{
    color: #f28b82;
    margin-top: 30px;
    margin-left: 50px;
}
.horizline{
    margin-bottom: 60px;
}
.advancedelement{
    margin-left: 20px;
}
.labelspacer{
    margin-right: 30px;
}
tr{
    height: 50px;
}
